body{
    background-color: white !important;
}

.container{
    background-color: white !important;
}

#titleFont{
    padding: 100px 0;
    text-align: center;
    font-size: 100px !important;
    color: Black !important;
}

#surveyFont{
    padding: 10px 0;
    text-align: center;
    font-size: 60px;
    color: black;
}

.questions{
    background-color: lightgray;
}

.footer{
    text-align: center;
}